<!-- CONTENITORE PRINCIPALE DELLA GALLERIA -->
<div class="image-grid">
  <img class="image-one" src="images/beach-rock.jpg" alt="Foggy beach with a large rock formation"/>
  <img class="image-two" src="images/living-room.jpg" alt="Living room with a white couch and a round window"/>
  <img class="image-three" src="images/food-table.jpg" alt="Table with plates and bowls of food" />
  <img class="image-four" src="images/red-door.jpg" alt="Building with a red door and a tree" />
  <img class="image-five" src="images/apartments.jpg" alt="Row of white apartment buildings next to a street"/>
  <img class="image-six" src="images/beach-hill.jpg" alt="View of a beach from the top of a hill" />
</div>
